<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>student list second way </title>
</head>
<body bgcolor="6BA3B9">
	<font size="4px">
	<ul>
		{% for object in object_list %}
		<li>{{ object.f_name }}</li>
		<li>{{ object.l_name }}</li>
		<li>{{ object.age}}</li>
		<li>{{ object.gender}}</li>
		<li>{{ object.birth_date}}</li>
		<hr/>
		{% empty %}
		<li> no objects yet.</li>

		{% endfor %}
	</ul>
    </font>
</body>
</html>