<!DOCTYPE html>
<html>
<head>
    <title> My CV</title>
</head>
<body style="background-color:#F0E68C;">


    <table align="center" width="40">
    <th bgcolor="6BA3B9" align="left" width="45%">
    
    <center>
    <h1><font size= "18px">Nour Mohamed</font> </h1>
    </center>

    <font face="Calibri Light" size="6px"> <u> Contact </u> </font>
    <br>
    <ul>
        <font size="3px">
        <li>Address: <br> Alexandria, Egypt</li>
        <li>Phone: <br>01123777884 </li>
        <li>Email: <br>nourrmohameedd@gmail.com </li>
    </font>
     </ul>   
     <br>


    <font face="Calibri Light" size="6px"> <u> Skills </u> </font>
    <br>
    <ul>
        <font size="3px">
        <li>linux <br> </li>
        <li>bash <br></li>
        <li>python <br></li>
        <li>java<br></li>
        <li>HTML<br></li>
        <li>css<br></li>
    </font>
    </ul>    
    <br>

    <font face="Calibri Light" size="6px"> <u> Languages</u> </font>
    <br>
    <ul>
        <font size="3px">
        <li>Arabic <br> </li>
        <li>English <br></li>
        <li>French <br></li>
        </font>
    </ul>    
    <br>
    </th>

    <th align="left">
        <font face="Calibri Light" size="6px"> <u>Summary</u></font>
        <p>
            <font size="3px">
            Junior devops Engineer. Well served in numerous programming languages.
            </font>
        </p>

        <font face="Calibri Light" size="6px"> <u>Education</u></font>
        <ul>
            <font size="3px">
            Bachelor of Computer Engineering (2017-2022) <br>
            Arab Academy For Science And Technology
        </font>
        </ul>

    </th>




    </table>
</body>





</html>